*.log
*.pyc
env/
migrations/
script/A1.jpg
script/A10.jpg
script/A2.jpg
script/A3.jpg
script/A4.jpg
script/A5.jpg
script/A6.jpg
script/A7.jpg
script/A8.jpg
script/A9.jpg
script/B1.jpg
script/B10.jpg
script/B2.jpg
script/B3.jpg
script/B4.jpg
script/B5.jpg
script/B6.jpg
script/B7.jpg
script/B8.jpg
script/B9.jpg
script/C1.jpg
script/C10.jpg
script/C2.jpg
script/C3.jpg
script/C4.jpg
script/C5.jpg
script/C6.jpg
script/C7.jpg
script/C8.jpg
script/C9.jpg
script/F1.jpg
script/F2.jpg
script/F3.jpg
script/F4.jpg
script/qrcode_result.png
script/test.jpg
